<article >
  <div class="article-meta">
	  <!-- 时间 -->
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
		<!-- 标题 -->
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'p-name article-title'}) %>
      </header>
    <% } %>
		<!-- 文章内容 -->
    <div class="e-content article-entry" itemprop="articleBody">
        <%- post.content %>
    </div>
  </div>
</article>