body,html {
	position: relative;
	/* scroll-behavior: smooth; */
	transition: top 2s, transform 2s;
	-webkit-transition: top 2s, -webkit-transform 2s;
}
..container{
	margin-top: 100px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: transparent;
}

.navbar-default.showtopface .navbar-nav>.active>a,
.navbar-default.showtopface .navbar-nav>.active>a:focus {
	color: rgb(218, 6, 136);
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background-color: transparent;
}


.navbar-custom {
	border: 0;
	padding: 35px 0;
	-webkit-transition: padding .5s;
	-moz-transition: padding .5s;
	transition: padding .5s;
	background-color: transparent;

}

.navbar-default .navbar-nav>li>a {
	color: rgb(226, 218, 227);
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 17px 16px;
	line-height: 1
}

.navbar-custom.showtopface {
	padding: 20px 0px;
	border-bottom: 0px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
	/* background: rgb(255, 255, 255); */
	background: #FFF;
}

.navbar-custom.showtopface ul li a {
	color: #666;
}

.navbar-custom.showtopface ul li a:hover,
.navbar-custom.showtopface ul li.active a {
	color: rgb(218, 6, 136);
	background-color: #fff;
}

.grdnt-purple:not(.overly) {
	background-image: -webkit-linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%);
	background-image: linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%) transition: all 0.5s ease 0s;
	background-size: 250%;
}

.hero {
	position: relative;
	padding-top: 180px;
	padding-bottom: 118px;
}
.intro-text {
	color: #fff;
}
.intro-text h2{
	font-size: 2.75em;
	font-weight: 600;
}
.spce {
	clear: both;
	height: 20px;
	width: 100%;
}
.intro-text p {
	font-size: 1.2em;
}

.page-header {
	margin: 20px 0 50px;
	padding-top:120px;
	border: none;
}

.page-header h3 {
	display: block;
	width: 150px;
	margin: -18px auto;
	background: #fff;
	font-weight: 600;
	text-align: center;
	color: rgb(91, 99, 251);
	overflow: hidden;
}

p.large {
	font-size: 1.2em;
	text-align: center;
	color: #999;
	margin-top: 35px;
}
.counter-wrapper{
	padding: 35px;
	color:#fff;
}
.svg-img{font-size: 4em;}
.lbllist{
	padding:35px 0;
	text-align: center;
}
.lbllist h3{
	font-size: 2.25em;
	font-weight: 600;
	color: rgb(55, 64, 77);
	text-align: center;
}
.lbllist p{
	text-align: center;
	font-size: 0.95em;
	color: rgb(132, 140, 153);
}
.lbllist .svg-lblimg{
	font-size: 2.3em;
}
.swiper-con{
	position: relative;
}
.mySwiper{
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide .slide-con{
	height: 240px;
	margin: 10px 0;
	padding: 50px;
	box-shadow: 0 19px 38px rgb(0 0 0 / 10%), 0 15px 12px transparent;
		background: #fff;
	cursor: pointer;
}
.slide-con{
	text-align: center;
}
.slide-con .bi{
	font-size: 2.3em;
	color:#ed3ea4 ;
}
.slide-con h5{
	font-size:1.25em;
	font-family: open sans,sans-serif;
	font-weight: 600;
	color: #37404d;
	line-height: 1.3;
	margin: 10px 0 18px;
	letter-spacing: -.03em
}
.slide-con p{
	color:#848c99;
}
.swiper-button-prev{
	left:-44px;
}
.swiper-button-next{
	right:-16px;
}
.swiper-button{
	background: #c6c6c6;
	padding: 15px;
	border-radius: 50%;
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding-top: 18px;
	overflow: hidden;
	opacity: .6;
}
.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 30px;
}

.footer-row{
	padding:100px 0;
	text-align: center;
	color: #fff;
}
.footer-row h3{
	font-weight: 600;
}
.spce{
	margin-top: 50px;
}

.listcon{
		float:none;
		margin:0 auto;
	}

.list-group-item{
	border:none;
	/* border-bottom:1px solid #777; */
	
}
.list-case .list-group-item::after{
	display: block;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
	background-size: 8px 1px;
	background-repeat: repeat-x;
	content: ' ';
	margin-top: 15px;
}
.list-group-item span{
	float: right;
	color:#666;
}
.list-case li a{
	color:#666;
	
}
.list-case li a:hover{
	color:#333;
}
.pagination{
	margin-left:45%;
}


.mypagcon a,.mypagcon span{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.mypagcon .current{
	color: #777;
}
.wenti{
	padding: 20px 0 90px;
}
.wenti .list-group p{
	padding: 13px 20px;
	font-size: .95em;
	color: #848c99;
	font-weight: 400;
	line-height: 1.6em;
	white-space: normal;
	background: #f2f5ff;
}
.wenti .list-group{
	margin-bottom: 20px;
	    background-color: #fcf8e3;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
	    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.wenti .list-group-item h4{
	font-weight:600;
	line-height:1.6em;
}
.wenti .list-group-item:hover,.wenti .list-group-item h4:hover{
	color:#0078D8;
	background:#fff;
}
/* 文章 */
.post{
	margin:45px 0 45px;
}
.post-new{
	width: 100%;
	padding:45px 0;
	background-image: -webkit-linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%);
	background-image: linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%) transition: all 0.5s ease 0s;
	background-size: 250%;
}
.post-nav{
	width: 80%;
	margin: 0 auto;
	text-align: right;
}
.post-nav a{
	color:#fff;
	font-size:26px;
}
.post-title{
	color: #555;
	text-align: center;
}
.post-date{
	color:#666;
	margin-left: 45%;
}
.post-con{
	padding: 30px 0 45px;
}